@import "tailwindcss";
@theme {
  --color-primary: #3a6ea5;
  --color-primary-hover: #1a3e5c;

  --color-secondary: #A8DADC;
  --color-secondary-hover: #81C7C5;

  --color-support: #F1F1F1;
  --color-support-hover: #EAEAEA;

  --color-background: #FFFFFF;
  --color-background-hover: #F4F4F4;

  --color-border-black: #333333;

  --color-text: #333333;
  --color-text-hover: #1A3E5C;
  --color-placeholder: #B8B8B8;

  --color-menu: #3a6ea5;
  --color-menu-hover: #335f8d;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialias ed;
  -moz-osx-font-smoothing: grayscale;
}
