@import "tailwindcss";
@theme {
  --color-primary: #3a6ea5;
  --color-primary-hover: #1a3e5c;

  --color-secondary: #a8dadc;
  --color-secondary-hover: #81c7c5;

  --color-support: #f1f1f1;
  --color-support-hover: #eaeaea;

  --color-background: #ffffff;
  --color-background-hover: #f4f4f4;

  --color-border-black: #333333;

  --color-text: #333333;
  --color-text-hover: #1a3e5c;
  --color-placeholder: #b8b8b8;

  --color-menu: #3a6ea5;
  --color-menu-hover: #335f8d;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(14, 14, 14, 0.87);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialias ed;
  -moz-osx-font-smoothing: grayscale;
}
